.vscode/**
.vscode-test/**
out/test/**
**/*_test.js
**/*.map
**/src
.gitignore
**/tsconfig*
**/tslint.json
**/screenshot/*
*.log
.travis.yml
renovate.json
dist
**/*.ts
**/bin
**/docs
**/doc
**/*.txt
**/typing
**/.DS_Store