.vscode/**
.vscode-test/**
out/test/**
**/*_test.js
**/*.map
.gitignore
**/tsconfig*
**/tslint.json
**/screenshot/*
*.log
.travis.yml
renovate.json
**/*.ts
**/bin
**/docs
**/doc
**/*.txt
**/typing
**/.DS_Store
**/*.vsix